.steps {
    div {

    }
        img {
        max-width: 100%;
        margin: 50px 0;
        }
}

.facts {
    counter-reset: facts;
    li {
        padding: 25px 15px;

        &:before {
            counter-increment: facts;
            content: "#" counter(facts);
            font-size: 3rem;
            font-weight: bold;
        }
    }

        a {
            text-decoration: underline dotted white; 
        }

        .facts-title {
            margin-top: .5rem;
            font-size: 1.5rem;
        }
}