.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    padding: 0.5rem;
    border: 1px solid $white;
}

.margin-top-lg {
    margin-top: 2.5rem;
}

.margin-bottom-lg {
    margin-bottom: 2.5rem;
}

.margin-top-sm {
    margin-top: 1.5rem;
}

.margin-bottom-sm {
    margin-bottom: 1.5rem;
}

.ellipse {
    border: 1px solid $white;
    border-radius: 50%;
    padding: 5px;
    display: inline-block;
}

// .steps {
//     display: flex;
//     justify-content: space-evenly;
// }

// .steps div {
//     width: 30%;
// }

.arrow {
    position: relative;
    width: fit-content;
    margin-left: 70px;

    &:before {
        content: "";
        position: absolute;
        left: -80px;
        top: 0;
        width: 70px;
        height: 60px;
        background: center / cover no-repeat url("../../img/green-arrow.png");
    }
}

.steps div img {
    max-width: 100%;
    margin: 50px 0;
}
